.cover{
width:160px;
height:160px;
border-radius:50%;
margin:15px auto;
display:block;
animation:spin 6s linear infinite;
}

@keyframes spin{
from{transform:rotate(0);}
to{transform:rotate(360deg);}
}

.beat{
animation:beat .4s infinite alternate;
box-shadow:0 0 25px #00ffd5;
}

@keyframes beat{
from{transform:scale(1);}
to{transform:scale(1.1);}
}